<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - comScore Portal</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/kendo/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendo")
</head>
<body>
    <div id="wrapper" class="active">
        
        <div id="sidebar-wrapper">
            
            <div id="sidebar_nav_icon">
                <span id="main_icon" class="glyphicon glyphicon-menu-hamburger"></span>
            </div>

            <ul id="menu">
                <li>
                    Traffic
                    <ul>
                        <li>
                            @Html.ActionLink("Snippet Parsing", "Snippet", "Snippet")
                        </li>
                        <li>
                            @Html.ActionLink("Cookie Parsing", "Cookies", "Cookies")
                        </li>
                    </ul>
                </li>
                <li>
                    QA Metrics
                    <ul>
                        <li>
                            @Html.ActionLink("SK Report", "SK", "SK")
                            @Html.ActionLink("Roster Info Detector", "SK", "SK")
                        </li>
                    </ul>
                </li>
                <li>
                    Social Networks
                    <ul>
                        <li>@Html.ActionLink("Linkedin", "Matching", "Stats", new { @domain = "Linkedin" }, new { })</li>
                        <li>@Html.ActionLink("Google", "Matching", "Stats", new { @domain = "Google" }, new { })</li>
                        <li>@Html.ActionLink("Facebook", "Matching", "Stats", new { @domain = "Facebook" }, new { })</li>
                    </ul>
                </li>
            </ul>
        </div>

            <!-- Sidebar -->
            @*<div id="sidebar-wrapper">
                <ul id="sidebar_menu" class="sidebar-nav">
                    <li class="sidebar-brand"><a id="menu-toggle" href="#">comScore Inc.<span id="main_icon" class="glyphicon glyphicon-align-justify"></span></a></li>
                </ul>
                <div class="sidebar-nav" id="sidebar">
                    <li id="menu_1">
                        <a>Traffic<span class="sub_icon glyphicon glyphicon-plus" onclick="collapseSubMenu1()"></span></a>
                        <ul id="sub_menu_1" class="sub-menu hidden">
                            <li>@Html.ActionLink("Snippet Parsing", "Snippet", "Snippet")</li>
                            <li><a href="#">Cookie Jar</a></li>
                        </ul>
                    </li>
                    <li id="menu_2">
                        <a>Social Network<span class="sub_icon glyphicon glyphicon-plus" onclick="collapseSubMenu2()"></span></a>
                        <ul id ="sub_menu_2" class="sub-menu hidden">
                            <li>@Html.ActionLink("Linkedin", "Matching", "Stats", new { @domain = "Linkedin" }, new {})</li>
                            <li>@Html.ActionLink("Google", "Matching", "Stats", new { @domain = "Google" }, new {})</li>
                            <li>@Html.ActionLink("Facebook", "Matching", "Stats", new { @domain = "Facebook" }, new {})</li>
                        </ul>
                    </li>
                </div>

            </div>*@

            <!-- Page content -->
            <div id="page-content-wrapper">
                <!-- Keep all page content within the page-content inset div! -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            @RenderBody()
                        </div>
                        <div class="col-lg-12">
                            <footer>
                                <p>&copy; @DateTime.Now.Year - comScore Webportal</p>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/site")
    @RenderSection("scripts", required: false)
    
    <script>
        $(document).ready(function () {

            var initMenu = function () {
                var orientation = 'vertical';
                $("#menu").kendoMenu({
                    orientation: orientation
                }).data("kendoMenu").wrapper.css("width", (orientation == "horizontal") ? 600 : 120);
            };

            initMenu();

            $("#sidebar-wrapper").hover(
                function() {
                    $(this).animate({ 'margin-left': '-250px', 'width': '200px' }, 100, function (){});
                },
                function() {
                    $(this).animate({ 'margin-left': '-450px', 'width': '250px'}, 100, function (){});
                }
            );

        });
    </script>



</body>
</html>
